/*=====================================
        FLEXBOX
======================================*/


.main,
.game-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.two-svg-flex {
  display: flex;
  flex-direction: row;
  &:nth-child(3) .heart {
    order: 1;
  }
  &:nth-child(3) .club {
    order: 2;
  }
}

.game-select,
.login {
  flex-direction: column;
  align-items: center;
}

.game-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.game-board {
  display: none;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.game-floor {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.game-floor-mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cpu-mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}