/*=====================================
        Images
======================================*/

// .diamond,
// .heart {
//   & path {
//     fill: #A30000;
//   }
// }

svg {
  width: 100%;
  height: 5em;
}

#svg-card {
  height: 0;
}