/*=====================================
        Images
======================================*/

svg {
  width: 100%;
  height: 5em;
}

#svg-card {
  height: 0;
}

.game-floor-svgs {
  @include centerPage;
  display: none;
  width: 50%;
  opacity: .6;
  z-index: -5;
}