/*=====================================
        LAYOUT
======================================*/

.main-container {
  width: 90%;
  @include center;
  text-align: center;
}

.container {
  display: none;
}

.main {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.game-name {
  margin-bottom: 2.5em;
}

.game-select {
  display: none;
  width: 70%;
  @include center;
  width: 100%;
  font-size: 1.25rem;
  padding-inline-start: 0;

  & li {
    border-radius: 5px;
    padding: .5em;
    width: 100%;
    margin: 1em 0;
    background-color: #386587;
  }

  & li:hover {
    cursor: pointer;
    opacity: .5;
    color: #A30000;
    transition: all .3s ease-in;
  }
}

.start-button {
  bottom: 15%;

  & button {
    width: 10em;
    font-size: 2em;
    background-color: #386587;
    border-style: none;
    border-radius: 5px;
  }

  & .game-start:hover {
    cursor: pointer;
    opacity: .5;
    color: #A30000;
    transition: all .3s ease-in;
  }
}

.login {
  display: none;
  & label {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 1em;
  }

  & input {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 1em;
  }

  & button {
    border: none;
    border-radius: 5px;
    width: 50%;
    font-size: 1.5em;
    background-color: #386587;
    &:hover {
    cursor: pointer;
    opacity: .5;
    color: #A30000;
    transition: all .3s ease-in;
    }
  }
}

.game-board {
  @include center;
  padding-top: 2em;
  height: 90vh;
  width: 90%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.game-floor {
  border: 5px solid black;
  width: 40%;
  height: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  & .game-floor-mid{
    width: 100%;
  }
}

.user {
  @include center;
  width: 80%;
  overflow: scroll;
  & ul {
    width: 100%;
  };
}



.card {
  border: 1px solid black;
  border-radius: 5px;
  width: 50px;
  min-width: 50px;
  height: 80px;
  padding: .5em .5em;
  background-color: #F3F6F4;
  background-repeat: no-repeat;
  background-position-y: 40%;
  color: #F3F6F4;
  padding-top: 1.5em;
  &:hover {
    cursor: pointer;
  }
}

.hearts-card {
  background-image: url('../../svgs/heart.svg');
}

.clubs-card {
  background-image: url('../../svgs/club.svg');
}

.spades-card {
  background-image: url('../../svgs/spade.svg');
}

.diamonds-card {
  background-image: url('../../svgs/diamond.svg');
}

.cpu {
  @include center;
}

.cpu-card {
  padding-top: .5em;
  border: 1px solid black;
  background-color: #386587;
  border-radius: 5px;
  width: 50px;
  height: 80px;
  text-align: center;
  font-size: 2em;
  &:hover {
    cursor: pointer;
  }
}