/*=====================================
        BASE PARTIAL
======================================*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: #073F69;
}

ul {
  list-style: none;
}